.venv/
logins.json

__pycache__/
*.py[cod]
*$py.class

*.log

.env
*.env
.env.*

*.db
*.sqlite3

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.egg-info/
.eggs/
*.egg
dist/
build/
pip-wheel-metadata/
